.pas-datatables-info-container {
    padding: 5px;
    margin: 5px;
}

.memberBtn {
    padding: 4px;
}

.member_detail_avatar {
    max-width: 150px;
    max-height: 150px;
}

img {
    margin: auto;
}