{% extends "pas/base.html" %}

{% block styles %}
    <style type="text/css">
        label {
            text-align: left !important;
            padding-top: 0px !important;
        }

        .form-horizontal .form-group {
            margin-bottom: 5px !important;
        }

        .text-muted {
            text-align: center;
        }
    </style>
{% endblock styles %}

{% block content-header %}
    <h1 id="content-header-text">
        HPCC LaB
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Member profile</li>
    </ol>
{% endblock content-header %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <strong>{{ member.name }}'s Profile Page</strong>
                        <i class="fa fa-circle text-success"></i>
                        {#                        - <i class="fa fa-circle-o"></i>#}
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Avatar </h3>
                                </div>
                                <div class="box-body">
                                    <img class="img-responsive img-circle member_detail_avatar"
                                         src="{% static "pas/images/HaManhDong.jpg" %}" alt="Photo">
                                </div>
                                <div class="box-footer">
                                    <button class="btn btn-block">Change avatar</button>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6 col-sm-6">
                            <form class="form-horizontal">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">General infomation </h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="member_name" class="col-sm-5 control-label">
                                                <i class="fa fa-info-circle margin-r-5"></i>Name:</label>
                                            <div class="col-sm-7">
                                                <p id="member_name">{{ member.name }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-sm-5 control-label">
                                                <i class="fa fa-graduation-cap margin-r-5"></i>Course:</label>
                                            <div class="col-sm-7">
                                                <p id="inputEmail1">{{ member.course }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-5 control-label">
                                                <i class="fa fa-envelope margin-r-5"></i>Email:</label>
                                            <div class="col-sm-7">
                                                <p id="inputEmail3">{{ member.email }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-5 control-label">
                                                <i class="fa fa-calendar margin-r-5"></i>Register day:</label>
                                            <div class="col-sm-7">
                                                <p id="inputPassword3">{{ member.registered_day }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword4" class="col-sm-5 control-label">
                                                <i class="fa fa-book margin-r-5"></i>Research about:</label>
                                            <div class="col-sm-7">
                                                <p id="inputPassword4">{{ member.research_about }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Authentication </h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <strong><i class="fa fa-video-camera margin-r-5"></i> Recognize train</strong>
                                    {% if member.is_train %}

                                        <p class="text-muted" style="color: green" id="member_train_warning">
                                            Done!
                                        </p>
                                    {% else %}
                                        <p class="text-muted" style="color: red" id="member_train_warning">
                                            Did not get faces to train!
                                        </p>
                                    {% endif %}
                                    <div class="btn-group">

                                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                                data-target="#modal_get_faces">
                                            Get faces now
                                        </button>
                                        <button type="button" class="btn btn-warning" id="btn_get_face1"
                                                {% if member.is_train %}
                                                disabled
                                                {% endif %}
                                                data-email="{{ member.email }}">Get faces now
                                        </button>
                                        <button type="button" class="btn btn-warning" id="btn_train"
                                                data-email="{{ member.email }}" disabled>Train
                                        </button>
                                    </div>

                                    <hr>

                                    <strong><i class="fa fa-credit-card margin-r-5"></i> Card ID</strong>

                                    <p class="text-muted">12 34 AB CD</p>
                                    <button class="btn btn-default">Change</button>

                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>


    <div class="modal fade" id="modal_get_faces" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Get faces to train</h4>
                </div>
                <div class="modal-body">
                    <ul class="todo-list ui-sortable">
                        <li class="">
                            <!-- drag handle -->
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <button type="button" id="btn_delete_member" class="btn btn-xs btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                            <span class="text">Get 10 normal faces</span>
                            <small class="label label-success"><i class="fa fa-check"></i> Done</small>
                        </li>
                        <li class="">
                            <!-- drag handle -->
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <button type="button" id="btn_delete_member" class="btn btn-xs btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                            <span class="text">Get 10 smile faces</span>
                            <small class="label label-success"><i class="fa fa-check"></i> Done</small>
                        </li>
                        <li class="">
                            <!-- drag handle -->
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <button type="button" id="btn_delete_member" class="btn btn-xs btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                            <span class="text">Get 10 normal faces without glass</span>
                            <small class="label label-success"><i class="fa fa-check"></i> Done</small>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock content %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static '/pas/js/plugins/mqtt.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/pas/js/profile.js' %}"></script>
{% endblock scripts %}