{% extends "pas/base.html" %}

{% block styles %}
    <style type="text/css">
        .img_timeline {
            float: left;
            max-width: 45px;
            height: auto;;
            border-radius: 50%;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: -2px;
        }

        h3.timeline-header span {
            padding: 2px;
            color: white;
            margin-left: 5px;
        }

        .timeline-item {
            background-color: beige !important;
        }
    </style>

{% endblock styles %}

{% block content-header %}
    <h1 id="content-header-text">
        HPCC LaB
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
{% endblock content-header %}

{% block content %}
    {% load static %}
    {% load tz %}
    <div class="row">
{#        <div class="col-xs-12 col-md-12">#}
{#            <div class="box bg-info text-center">#}
{#                <div class="box-body">#}
{#                    <h1 class="font-light text-white">Boss: <span>Present</span></h1>#}
{#                    <h6 class="text-white" style="padding-bottom: 10px;">Master. Nguyen Binh Minh</h6>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="col-md-2">
            <div class="small-box bg-aqua" style="background-color: #009efb !important">
                <div class="inner">
                    <h3>10</h3>
                    <p>Persons in LAB</p>
                </div>
                <div class="small-box-footer">now</div>
            </div>
            <div class="small-box bg-yellow" style="background-color: #FFBC36 !important;">
                <div class="inner">
                    <h3 id="box_warning_value">0</h3>
                    <p>Warning</p>
                </div>
                <a href="{% url 'warning' %}" class="small-box-footer">
                    Detail
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-green" style="background-color: #55ce63 !important;">
                <div class="inner">
                    <h3 id="number-of-devices-box">0</h3>
                    <p>Devices</p>
                </div>
                <a href="{% url 'devices-info' %}" class="small-box-footer">
                    More info
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="box bg-primary">
                <div class="box-body">
                    <ul class="timeline">
                        {% localtime on %}
                            <!-- timeline time label -->
                            <li class="time-label">
                                <span class="bg-red">Today - 20.4.2018</span>
                            </li>
                            {% for log in logs %}
                                {% if log.result_auth %}
                                    {% if log.is_go_in %}
                                        <li>
                                            <img class="img_timeline"
                                                 src="{{ MEDIA_URL }}{{ log.image }}" alt="Photo">

                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"></i> {{ log.time_stamp }}</span>
                                                <h3 class="timeline-header no-border"><a href="#">{{ log.member.name }}</a>
                                                    <span class="go_in"> go in  <i
                                                            class="fa fa-arrow-right"></i></span>
                                                </h3>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li>
                                            <img class="img_timeline"
                                                 src="{{ MEDIA_URL }}{{ log.image }}" alt="Photo">

                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"></i> {{ log.time_stamp }}</span>
                                                <h3 class="timeline-header"><a href="#">{{ log.member.name }}</a>
                                                    <span class="go_out">go out <i
                                                            class="fa fa-arrow-left"></i></span>
                                                </h3>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li>
                                        <img class="img_timeline"
                                             src="{{ MEDIA_URL }}{{ log.image }}" alt="Photo">
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> {{ log.time_stamp }}</span>
                                            <h3 class="timeline-header"><a href="#">{{ log.member.name }}</a>
                                                <span class="unknow" data-toggle="tooltip" data-placement="bottom"
                                                          title="View detail!">
                                                    {% if log.is_go_in %} go in
                                                    {% else %} go out
                                                    {% endif %}
                                                    <i class="fa fa-close"></i>
                                                </span>
                                            </h3>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>

                        {% endlocaltime %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static '/pas/js/index.js' %}"></script>

{% endblock scripts %}